data/more
out/*.csv
out/*.gpkg
out/*.geojson
*.qmd
__pycache__
sstrace_interactive.py
w_sstrace.py
dem_test.py
/dem
/out_stats
stats.ipynb
watershed_test.ipynb
w_sstrace.ipynb
test.ipynb